
extends layout

block content
  h1.text-center.mb-4= title

  .container.mt-4(style="max-width: 700px;")
    form(method='POST' action='' class='p-4 border rounded shadow-sm bg-light')
      
      .mb-3
        label.form-label(for='title' style='color:#000;') Título:
        input#title.form-control(type='text' name='title' value=(post ? post.title : '') required)
      
      .mb-3
        label.form-label(for='content' style='color:#000;') Contenido:
        textarea#content.form-control(name='content' rows='10' required)= post ? post.content : ''
      
      .mb-3
        label.form-label(for='category' style='color:#000;') Categoría:
        select#category.form-select(name='category' required)
          option(value='') -- Seleccionar --
          each categoria in categorias
            option(
              value=categoria._id 
              selected=(post && post.category && post.category._id.toString() === categoria._id.toString())
            )= categoria.name
      
      .mb-3
        label.form-label(for='image' style='color:#000;') URL de imagen (opcional):
        input#image.form-control(type='url' name='image' value=(post && post.image ? post.image : ''))
      
      .d-flex.flex-column.flex-sm-row.gap-2.mt-4.justify-content-center
        button.btn.btn-primary.px-4(type='submit') Guardar
        a.btn.btn-secondary.px-4(href='/posts') Cancelar

    if errors
      .alert.alert-danger.mt-3
        ul.mb-0
          each error in errors
            li= error.msg
